* {
	padding: 0;
	margin: 0;
}

body {
	background: #444;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	margin: 0 auto;
	padding: 0;

}

/* ANIMATION DEFINITION */
@keyframes shadow-pulse
{
     0% {
          box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
     }
     100% {
          box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
     }
}

/* HEADER */
header {
	background-color: #056;
	height: 75px;
	width: auto;
	margin: 0;
	padding: 0;
}

h1 {
	padding: 20px;
	color: white;
}
/* END HEADER */

/* DESKTOP NAV */
nav ul {
	line-height: 150%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #009EC2;
}

nav li {
	float: left;
}

.navBar, .dropButton {
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: 14px 30px;

	text-decoration: none;
	box-shadow: 8px 0 16px 0 rgba(0,0,0,1.0);
}

li.navBarDropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #009EC2;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,1.0);
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

a:hover:not(.active) {
	background-color: #AAA;
}

.navBarDropdown:hover .dropdown-content {
	display:block;
}

#active {
	background-color: #AAA;
}
/* END DESKTOP NAV */

/* MAIN */
main {

}

h2 {
	font-size: 45px;
	padding: 170px 50px 0 50px;
    height: 130px;
}

#score {
    width: 20%;
    height: 25px;
    font-size: 25px;
    padding-top: 10px;
    margin-left: 330px;
    margin-top: 100px;
}

main div {
	height: 825px;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 50%;
}

#left-noun {
	background-color: #CCC;
}

#right-noun {
	background-color: #FFF;
	float: right;
}

#next-noun {
	visibility: hidden;
	height: 0;
	width: 50%;
}
/* END MAIN */

/* FOOTER */
footer {
	background-color: #009EC2;
	color: #FFF;
	clear: left;
	padding: 10px 20px 10px 20px;
}

#copyright {
	font-size: 70%;
	font-style: italic;
}
/* END FOOTER */

/* Other Devices */
@media only screen and (max-width: 900px) {

}

#right-button {
    background-color: lightblue;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    margin-top: 100px;
    font-family: cursive;
    font-size: 18px;
		transition: all 2s cubic-bezier(0.310, 0.440, 0.445, 1.650);


}

#left-button {
    background-color: lightblue;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    margin-top: 100px;
    font-family: cursive;
    font-size: 18px;
		transition: all 2s cubic-bezier(0.310, 0.440, 0.445, 1.650);
}


#next-question {
    background-color: lightslategrey;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    font-family: cursive;
    font-size: 18px;
		transition: all 1s cubic-bezier(0.40, 0.50, 0.445, 1.650);
}

button:hover {
    color: purple;
		animation: shadow-pulse 0.5s 1;
		 /*animation: shadow-pulse 1s 1;*/
}
button:active {
	transform: scale(3);
}
